<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">	
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}][%M] %-5p %c %m %n"></param>
		</layout>
	</appender>
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/LocarApplicarion.log"/>
        <param name="MaxFileSize" value="4096KB" />
        <param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}][%M] %-5p %c %m %n"></param>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>
	<appender name="FILE_ERR" class="org.apache.log4j.RollingFileAppender">
			<param name="File" value="logs/LocarApplication_err.log" />
			<param name="MaxFileSize" value="4096KB " />
			<param name="MaxBackupIndex" value="5" />
			<layout class="org.apache.log4j.PatternLayout">
				<param name="ConversionPattern" value="[%d{ISO8601}][%M] %-5p %c %m %n"></param>
			</layout>
			<filter class="org.apache.log4j.varia.LevelRangeFilter">
				<param name="LevelMin" value="ERROR" />
				<param name="LevelMax" value="FATAL" />
			</filter>
	</appender>
	<root>		
		<appender-ref ref="CONSOLE" />		
		<appender-ref ref="FILE" />
		<appender-ref ref="FILE_ERR" />	 
	</root>
</log4j:configuration>