<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory >
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">password</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/schema_locar</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

<!-- 		<property name="hibernate.hbm2ddl.auto">update</property> -->

		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		
		<mapping class = "br.pucsp.locar.entity.Avaliacao"/>
		<mapping class = "br.pucsp.locar.entity.Avaliacaolocacao"/>
		<mapping class = "br.pucsp.locar.entity.Cidade"/>
		<mapping class = "br.pucsp.locar.entity.Disponibilidadeveiculo"/>
		<mapping class = "br.pucsp.locar.entity.Endereco"/>
		<mapping class = "br.pucsp.locar.entity.Estacionamento"/>
		<mapping class = "br.pucsp.locar.entity.Estado"/>
		<mapping class = "br.pucsp.locar.entity.Locacao"/>
		<mapping class = "br.pucsp.locar.entity.Localizacao"/>
		<mapping class = "br.pucsp.locar.entity.Login"/>
		<mapping class = "br.pucsp.locar.entity.Loginperfil"/>
		<mapping class = "br.pucsp.locar.entity.Modeloveiculo"/>
		<mapping class = "br.pucsp.locar.entity.Montadoraveiculo"/>
		<mapping class = "br.pucsp.locar.entity.Questaoavaliacao"/>
		<mapping class = "br.pucsp.locar.entity.Reserva"/>
		<mapping class = "br.pucsp.locar.entity.Statusreserva"/>
		<mapping class = "br.pucsp.locar.entity.Telefone"/>
		<mapping class = "br.pucsp.locar.entity.Tipoendereco"/>
		<mapping class = "br.pucsp.locar.entity.Tipoperfil"/>
		<mapping class = "br.pucsp.locar.entity.Tipotelefone"/>
		<mapping class = "br.pucsp.locar.entity.Tipoveiculo"/>
		<mapping class = "br.pucsp.locar.entity.Usuario"/>
		<mapping class = "br.pucsp.locar.entity.Veiculo"/>
	</session-factory>
	
	
</hibernate-configuration>
